*::-webkit-input-placeholder {

	color: #BBBBBB;
	opacity: 1;
	font-size: 12px;
	left: 10px;
	font-family: "RobotoBold"
}
*:-moz-placeholder {

	color: #BBBBBB;
	opacity: 1;
	font-size: 12px;
	left: 10px;
	font-family: "RobotoBold"
}
*::-moz-placeholder {

	color: #BBBBBB;
	opacity: 1;
	font-size: 12px;
	left: 10px;
	font-family: "RobotoBold"
}
*:-ms-input-placeholder {

	color: #BBBBBB;
	opacity: 1;
	font-size: 12px;
	left: 10px;
	font-family: "RobotoBold"
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}


header {
	position: relative;
	
}

placeholder

body {

	

}

.site-header {

	height: 500px;
	background-image: url(../img/WWDn2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;


}



}

section {
	background-color: #fff;
}

footer {
    position: relative; 
	left: 0;
	bottom: 0;
	width: 100%
	

}


.footer {


	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.60);
	position: relative;
	width: 100%;
	height: 30px;
}




.top_line {
	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.60);

	width: 100%;
	font-family: "BebasRegular";
}


.top_line a{
	
	color: #fff;
	text-decoration: none; 
	padding: 0;
	transition: all.2s ease;

	

}

.top_line a:hover{

	color: red;
	-moz-transition: all.6s ease;/*В Mozila*/
	-webkit-transition: all.6s ease;/*В safari*/
	-ms-transition: all.6s ease;/*?*/

}
.top_line a:active{
	transition: all.1s ease;
	color: #FDFF40;

}


.top_line a {
	transition: all.2s ease;
}








.logo {
	width: 150px;
	margin-top: 30px;
	margin-bottom: 10px; 
}

.logo h1 {
	margin-top: 10px;
	font-size: 30px;
	margin-bottom: 5px;
}

.top_line span{
	font-size: 14px;
	padding: 0px;
	display: block;
	margin-top: -25px;
	margin-bottom: 0; 
}

.login h3 {
	margin-top: 20px;
	text-align: right;
	margin-left: px; 
	font-size: 24px;	
}
.about h3 {
	margin-top: 20px;
	text-align: center;

	font-size: px;
	margin-left: px; 
	font-size: 24px;
}









.mid .container {
	height: px;
}
.mid {

	margin-top: 330px;
}

.batton_dawnlood {
	/*margin-top: 350px;*/
}


.btn {
	
	
	margin-top: px;
	margin-bottom: 20px;
	font-size: px;
	width: 120px;
	height: px;
	position: relative;
} 

.bloo_butn {
	position: relative;
} 
.bloo_butn p{
	margin-bottom: 0px;
} 



.tex_in_hed {
	color: #fff;
	font-size: 18px;
	
	font-family: "RobotoBold";
	position: relative;
}

.footer_text {
	color: #fff;
	font-size: 12px;
	margin-top: px;
}

.footer_text p {
	margin-bottom: 0;
	margin-top: 6px;
	margin-left: 15px;
	text-align: center;
}

.inf {
	position: relative;
	width: 100%;
	height: 240px;
	background-color: #99583D;

}

.inf2 {
	position: relative;
	width: 100%;
	height: 240px;
	background-color: #AA8677;

}


.about_block {

	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	width: 700px;
	height: 360px;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.70);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;



}



.text_about p {
	font-size: 17px;
	text-align: center;
	float: left;
	font-family: "RobotoCondensedRegular";

}
.dop {

	clear: both;
}

html {
	height: 100%;
}

.login_mid {
	min-width: 250px;
	width: 300px;
	margin: 0 auto;
}









.login_block {

	z-index:;
	width: 400px;
	height: 50px;
	background-color: black;

	position: relative;
	margin: 0 auto;
	margin-top: 40px;
	
	height: auto;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.40);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;


}



/*Логин*/
.login_in {

	width: 90px;
	position: relative;
	margin: 10px auto;
	box-sizing: border-box;
	padding: 2px;
	font-family:  "RobotoBold";
}



.block1_email {
	position: relative;
	width: 300px;
	margin: 0 auto;
	margin-top: 30px; 

}

.text_email h5 {
	font-size: 12px;
	margin-left: 10px;


}

.picture_mail {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #1A74C1;
	border: solid;
	border-left: 2px solid;
	border-right: 0px solid;
	border-bottom: 2px solid;
	border-top: 2px solid;
	border-color: black;
	border-radius: 8px 0 0 8px;
	float: left;
}

.block_pikture_and_email {
	height: 60px;
	}
.enter_email input {
	width: 250px;
	font-size: 18px;
	padding: 5.5px 4px 5.5px 8px;
	border: 2px solid black;
	background: width;
	border-radius: 0 8px 8px 0;
	color: black;
	font-family: "RobotoBold";

}

.poste {
	position: relative;

	height: 40px;
	width: 40px;
	margin: ;
	
	background: url("../img/Poste.png");
	
	background-repeat: no-repeat;
	background-position: center;
	background-size:  auto 35px;
	top: -3px;


	/*background-image: url("");*/

}





/*Пароль*/

.block2_password {
	width: 300px;
	margin: 0 auto;

}



.text_password h5 {
	font-size: 12px;
	margin-left: 10px;



}



.picture_password {
	position: relative;
	width: 40px;
	height: 40px;
	background-color: #1A74C1;
	border: solid;
	border-left: 2px solid;
	border-right: 0px solid;
	border-bottom: 2px solid;
	border-top: 2px solid;
	border-color: black;
	border-radius: 8px 0 0 8px;
	float: left;
}

.block_pikture_and_password {
	height: 60px;
	}
.enter_password input {
	width: 250px;
	font-size: 18px;
	padding: 5.5px 4px 5.5px 8px;
	border: 2px solid black;
	background: width;
	border-radius: 0 8px 8px 0;
	color: black;
	letter-spacing: px;
	font-family: "RobotoBold";

}

.man {
	position: relative;

	height: 40px;
	width: 40px;
	margin: ;
	
	background: url("../img/man.png");
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70px auto ;
	left: -2px;
	top: 2px;


	/*background-image: url("");*/

}

/*Кнопка логина*/

.login_button button {
	position: relative;
	height: 40px;
	width: 120px;
	
}

.login_button {
	margin: 0 auto;
	width: 120px;
	height: 40px;
	

}








/*ОПТИМИЗАЦИЯ*/



@media (max-width: 970px) {
	.site-header {
		height: 400px;
	}
	.mid {

	margin-top: 240px;
	}

.login h3 {
	margin-top: 20px;
	margin-left: px; 
	font-size: 18px;	
}
.about h3 {
	margin-top: 20px;
	font-size: px;
	margin-left: px; 
	font-size: 18px;
}



.logo h1 {
	margin-top: 10px;
	font-size: 22px;
	margin-bottom: 5px;
	
}

.tex_in_hed {
	font-size: 14px;

}

.btn {
	
	margin-left: ;
	margin-bottom: 20px;
	font-size: 16px;
	width: 100px;
	height: 40px;
	} 

.about_block {

	z-index:;
	width: 200px;
	height: 50px;
	background-color: black;


}

.about_block {
	position: relative;
	margin: 0 auto;
	margin-top: 35px;
	width: 90%;
	height: auto;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.70);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;
}

.about_block p {
	font-size: 16px;
}






}

@media (max-width: 768px) {
	.site-header {
		height: 300px;	
	}

	.mid {

	margin-top: 150px;
}

.about_block {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 90%;
	height: auto;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.70);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;
}


.bloo_butn  {
	width: 100px;
	margin: 0 auto;
	

	
	} 

	.about_block p {
	font-size: 14px;
} 

.tex_in_hed p {
	font-size: 16px;
	text-align: center;
}

.mid {

	margin-top: 50px;
}







}

@media (max-width: 480px) {
	.site-header {
		height: 200px;
	}

	.about_block {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 94%;
	height: auto;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.70);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;
}

.about_block p {
	font-size: 8px;
} 



.tex_in_hed p {
	font-size: 12px;
	text-align: center;
}

.mid {

	margin-top: 30px;
}



.bloo_butn  {
	width: 100px;
	margin: 0 auto;
	

	
	} 

	




	


@media (max-width: 1460px) {

	.site-header {
		height: px;
	}

	.about_block {
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	width: 80%;
	height: auto;
	border-radius: 25px;

	-webkit-box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	box-shadow: rgba(255,255,255,.3) 0 0 0 0px; 
	background-color: rgba(0,0,0,.70);
	box-sizing: border-box;
	padding: 2%;
	color: #fff;
}





	}
}